{% extends "layout/layout" %}

{% block content %}
  <div class="row">

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ translate('Register') }}</h3>
        </div>
        <div class="panel-body">
          {% if error  %}
            <p class="error">
              Error
            </p>
          {% endif %}
          {{ form().prepare() }}
          {{ form().setAttribute('action', url(NULL, ({'controller':'Register', 'action' : 'process'}))) }}
          {{ form().setAttribute('method', 'post') }}
          {{ form().openTag(form)|raw }}
          {{ formRow().setInputErrorClass('error').render(form.get('username'))|raw }}<br>
          {{ formRow().setInputErrorClass('error').render(form.get('email'))|raw }}<br>
          {{ formRow().setInputErrorClass('error').render(form.get('password'))|raw }}<br>
          {{ formRow().setInputErrorClass('error').render(form.get('confirmPassword'))|raw }}<br>
          {{ formRow(form.get('submit'))|raw }}
          {{ form().closeTag(form)|raw }}
        </div>
      </div>
    </div>

  </div>
{% endblock %}